@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin: 0 auto;
    width: 70%;
}

.campo {
    margin-bottom: 2rem;
    label {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        padding: calc(v.$separacion / 4);
    }

}

textarea {
    display: block;
    height: 10rem;
    max-height: 10rem;
    width: 100%;
    margin-bottom: 2rem;
}

select {
    width: 100%;
    text-align: center;
}

