@use 'base/variables' as v;
@use 'base/mixins' as m;


.titulo-home {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.botones {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;

    @include m.tablet{
        flex-direction: row;
        gap: 5rem;
    }
}

